In [3]:
multiline = """life is too short you need python"""
print(multiline)

life is too short you need python

In [6]:
name = '이현열'
birth = '1987'

f'나의 이름은 {name}이며, {birth}년에 태어났습니다.'

'나의 이름은 이현열이며, 1987년에 태어났습니다.'

In [8]:
var = 'quant'
var[2]
var[0:3]

'qua'

In [9]:
var= [1,2,3]
var.append(4)
print(var)

[1, 2, 3, 4]

In [10]:
var=[1,2,3,1,2,3]
var.remove(1)
print(var)

[2, 3, 1, 2, 3]

In [12]:
var = [2,4,1,3]
var.sort()
print(var)

[1, 2, 3, 4]

## 튜플
튜플 자료형은 리스트와 매우 흡사

In [13]:
var = ()
type(var)

tuple

In [16]:
var = (1,2)
var[0]

1

In [17]:
var = {'key1':1, 'key2':2}
print(var)

{'key1': 1, 'key2': 2}

In [20]:
var['key1']

1

In [21]:
var = {'key1':1, 'key2':2}
var['key3'] = 3
print(var)

{'key1': 1, 'key2': 2, 'key3': 3}

In [22]:
del var['key1']
print(var)

{'key2': 2, 'key3': 3}

In [23]:
var.keys()

dict_keys(['key2', 'key3'])

In [24]:
list(var.keys())

['key2', 'key3']

In [25]:
var.values()

dict_values([2, 3])

In [26]:
set1 = set([1,2,3])
print(set1)

{1, 2, 3}

In [28]:
set2 = set('banana')
print(set2)
# 중복을 허용하지 않음

{'n', 'b', 'a'}

In [29]:
s1 = set([1,2,3,4])
s2 = set([3,4,5,6])

s1.union(s2)

{1, 2, 3, 4, 5, 6}

In [30]:
s1.intersection(s2)

{3, 4}

In [31]:
#날짜와 시간

import datetime

var = datetime.datetime.now()
var

datetime.datetime(2024, 2, 21, 12, 27, 31, 397478)

In [32]:
type(var)

datetime.datetime

In [33]:
print(var.year)

2024

In [35]:
var.date()

datetime.date(2024, 2, 21)

In [36]:
t = datetime.datetime(2022,12,31,11,59,59)
t.strftime("%a %d %b %y")

'Sat 31 Dec 22'

In [37]:
dt1 = datetime.datetime(2022,12,31)
dt2 = datetime.datetime(2021,12,31)
td = dt1 - dt2 
td

datetime.timedelta(days=365)

In [38]:
from dateutil.relativedelta import relativedelta
dt1 + relativedelta(months = 1)

datetime.datetime(2023, 1, 31, 0, 0)

In [39]:
import datetime 
import time

for i in range(3):
    print(i)
    print(datetime.datetime.now())
    print('------')
    time.sleep(2)

0
2024-02-21 12:30:15.525238
------
1
2024-02-21 12:30:17.527357
------
2
2024-02-21 12:30:19.541952
------

In [41]:
x =2

if x> 0:
    print('wow')
else:
    print('oh')

wow

In [42]:
num = 1

while num<5:
    print(num)
    num = num+1

1
2
3
4

In [44]:
money = 1000

while True:
    money = money - 100
    print(f'잔액은 {money}원 입니다.')

    if money <= 0 :
        break

잔액은 900원 입니다.
잔액은 800원 입니다.
잔액은 700원 입니다.
잔액은 600원 입니다.
잔액은 500원 입니다.
잔액은 400원 입니다.
잔액은 300원 입니다.
잔액은 200원 입니다.
잔액은 100원 입니다.
잔액은 0원 입니다.

In [46]:
result = []
a= [1,2,3]

for i in a:
    result.append(i**2)

print(result)

[1, 4, 9]

In [47]:
result = [i**2 for i in a]
print(result)

[1, 4, 9]

In [48]:
import time 

from tqdm import tqdm

for i in tqdm(range(10)):
    time.sleep(0.1)

100%|███████████████████████████████████████████| 10/10 [00:01<00:00,  9.52it/s]

In [49]:
def f(x):
    res = x**(1/2)
    return res

In [50]:
f(4)

2.0

In [52]:
divide_lam = lambda x, n: x/n
divide_lam(6,3)

2.0

In [55]:
import seaborn as sns

In [54]:
iris = sns.load_dataset('iris')
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [56]:
import selenium.webdriver
dir(selenium.webdriver)[1:20]

['Chrome',
 'ChromeOptions',
 'ChromeService',
 'ChromiumEdge',
 'DesiredCapabilities',
 'Edge',
 'EdgeOptions',
 'EdgeService',
 'Firefox',
 'FirefoxOptions',
 'FirefoxProfile',
 'FirefoxService',
 'Ie',
 'IeOptions',
 'IeService',
 'Keys',
 'Proxy',
 'Remote',
 'Safari']