In [4]:
import pandas as pd


data = [[1,10,100],[2,20,200],[3,30,300]]
col = ['col1','col2','col3']
row = ['row1','row2','row3']
df = pd.DataFrame(data = data, index = row, columns = col)
print(df)

      col1  col2  col3
row1     1    10   100
row2     2    20   200
row3     3    30   300

In [5]:
result = df.add(1)
print(result)

      col1  col2  col3
row1     2    11   101
row2     3    21   201
row3     4    31   301

In [8]:
data2 = [[3],[4],[5]]
df2 = pd.DataFrame(data = data2, index = ['row1','row2','row3'],columns = ['col1'])
print(df2)

      col1
row1     3
row2     4
row3     5

In [9]:
result = df.sub(1)
print(result)

      col1  col2  col3
row1     0     9    99
row2     1    19   199
row3     2    29   299

In [10]:
result = df-1
print(result)

      col1  col2  col3
row1     0     9    99
row2     1    19   199
row3     2    29   299

In [11]:
data2 = [[3],[4],[5]]
df2 = pd.DataFrame(data = data2, index = ['row1','row2','row3'], columns = ['col1'])
print(df2)

      col1
row1     3
row2     4
row3     5

In [13]:
result = df.sub(df2)
print(result)

      col1  col2  col3
row1    -2   NaN   NaN
row2    -2   NaN   NaN
row3    -2   NaN   NaN

In [14]:
result = df.sub(df2,fill_value = 0)
print(result)

      col1  col2   col3
row1    -2  10.0  100.0
row2    -2  20.0  200.0
row3    -2  30.0  300.0

기본 사용법
df.mul(other, axis='columns', level=None, fill_value=None)
other : 데이터프레임이나, Series, 스칼라 등 데이터가 올 수 있습니다. 곱할 값입니다.
axis : 곱할 레이블을 설정합니다. 0은 행(index), 1은 열 입니다. ※Series일 경우 Index와 일치시킬 축
level : multiIndex에서 계산할 Index의 레벨입니다.
fill_value : NaN 값등의 누락 요소를 계산 전에 이 값으로 대체합니다.

In [16]:
result = df.mul(2)
print(result)

      col1  col2  col3
row1     2    20   200
row2     4    40   400
row3     6    60   600

In [17]:
result = df*2
print(result)

      col1  col2  col3
row1     2    20   200
row2     4    40   400
row3     6    60   600

In [18]:
data2 = [[3],[4],[5]]
df2 = pd.DataFrame(data = data2, index = ['row1','row2','row3'], columns = ['col1'])
print(df2)

      col1
row1     3
row2     4
row3     5

In [19]:
result = df.mul(df2)
print(result)

      col1  col2  col3
row1     3   NaN   NaN
row2     8   NaN   NaN
row3    15   NaN   NaN

In [ ]:
result = df.mul(df2,fill_value= )
print(result)