In [1]:
import pymysql

con = pymysql.connect(
    user ='root',
    passwd='1#',
    host = '127.0.0.1',
    db= 'shop',
    charset='utf8')
mycursor  = con.cursor()

먼저 connect() 메서드를 사용하여 MySQL에 접속하며, 입력값은 다음과 같다.

user: 사용자명
passwd: 비밀번호
host: 허용 접속 IP (일반적으로 localhost는 127.0.0.1 다).
db: 사용할 데이터베이스
charset: 인코딩 방법
그 후, cursor() 메서드를 통해 데이터베이스의 커서 객체를 가져온다. 화면에서 현재 사용자의 위치를 나타내며 깜빡거리는 막대기를 커서라고 부르듯이, 데이터베이스에서도 데이터 중에서 특정 위치, 특정 행을 가르킬 때 커서가 사용된다. **즉 현재 작업중인 레코드를 나타내는 객체다.**

이제 shop 데이터베이스 중 goods 테이블을 가져와보도록 하자.

In [2]:
query = """
    select * from goods;
"""

mycursor.execute(query)
data = mycursor.fetchall()
con.close()

display(data)

(('0001', '티셔츠', '의류', 1000, 500, datetime.date(2020, 9, 20)),
 ('0002', '펀칭기', '사무용품', 500, 320, datetime.date(2020, 9, 11)),
 ('0003', '와이셔츠', '의류', 4000, 2800, None),
 ('0004', '식칼', '주방용품', 3000, 2800, datetime.date(2020, 9, 20)),
 ('0005', '압력솥', '주방용품', 6800, 5000, datetime.date(2020, 1, 5)),
 ('0006', '포크', '주방용품', 500, None, datetime.date(2020, 9, 20)),
 ('0007', '도마', '주방용품', 880, 790, datetime.date(2020, 4, 28)))

실행하고자 쿼리를 입력하며, goods 테이블의 모든 데이터를 가져오는 쿼리를 입력한다.
execute() 메서드를 사용하여 SQL 쿼리를 데이터베이스 서버에 보낸다.
fetchall(), fetchone(), fetchmany() 등의 메서드를 사용하여 서버로부터 데이터를 가져온다.
fetchall(): 테이블 안의 모든 데이터를 추출
fetchone() :테이블 안의 데이터를 한 행씩 추출
fetchmany(size=n): 테이블 안의 데이터 중 n개의 행을 추출
원하는 작업을 마친 후에는 반드시 close() 메서드를 통해 데이터베이스와의 연결을 종료해야 한다.
데이터를 불러오는 것 뿐만 아니라 데이터를 입력, 수정, 삭제도 가능하다.

In [5]:

con = pymysql.connect(
    user ='root',
    passwd='1#',
    host = '127.0.0.1',
    db= 'shop',
    charset='utf8')
mycursor  = con.cursor()
query = """
    insert into goods (goods_id, goods_name, goods_classify, sell_price, buy_price, register_date)
    values ('0009', '스테이플러', '사무용품', '2000', '1500', '2020-12-30');
"""

mycursor.execute(query)
con.commit()
con.close()

In [7]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine('mysql+pymysql://root:1#@127.0.0.1:3306/shop')
query = """select * from Goods"""
goods = pd.read_sql(query, con = engine)
engine.dispose()

goods.head()

  goods_id goods_name goods_classify  sell_price  buy_price register_date
0     0001        티셔츠             의류        1000      500.0    2020-09-20
1     0002        펀칭기           사무용품         500      320.0    2020-09-11
2     0003       와이셔츠             의류        4000     2800.0          None
3     0004         식칼           주방용품        3000     2800.0    2020-09-20
4     0005        압력솥           주방용품        6800     5000.0    2020-01-05

In [8]:
import seaborn as sns

iris = sns.load_dataset('iris')
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [9]:
from sqlalchemy import create_engine 

engine = create_engine('mysql+pymysql://root:ahfmrpTek684#@127.0.0.1:3306/shop')
iris.to_sql(name = 'iris', con = engine, index = False, if_exists = 'replace')
engine.dispose()

create_engine() 함수를 통해 데이터베이스에 접속하기 위한 엔진을 만든다.
데이터프레임.to_sql()을 통해 데이터프레임을 데이터베이스에 저장할 수 있다. 테이블명은 iris로 하며, con에는 위에서 생성한 엔진을 입력한다. index = False를 통해 인덱스는 생성하지 않으며, if_exists = 'replace'를 입력하면 해당 테이블이 존재할 시 데이터를 덮어쓴다.
engine.dispose()를 통해 연결을 종료한다.

# upsert 기능 구현하기#
퀀트 투자에 사용할 시계열 데이터는 크게 두가지 특성을 가지고 있다.

insert: 시간이 지남에 따라 데이터가 추가된다.
update: 간혹 과거 데이터가 수정된다.
이처럼 입력하고자 하는 데이터가 기존 테이블에 값이 있는 경우 새로운 데이터로 업데이트(update) 하고, 값이 없는 경우 새로운 데이터를 추가(insert)하는 기능을 MySQL에서는 upsert 라고 한다. 예제를 통해 to_sql() 함수를 이용해 시계열 데이터를 저장할 경우 발생하는 문제 및 upsert 기능을 사용하는 방법에 대해 살펴보도록 하자.

먼저 create_database() 함수를 통해 'exam'이라는 데이터베이스를 만든다.

In [10]:
from sqlalchemy_utils import create_database

create_database('mysql+pymysql://root:ahfmrpTek684#@127.0.0.1:3306/exam')

In [11]:
price = pd.DataFrame({
    "날짜":['2021-01-02','2021-01-03'],
    "티커":['00001','00001'],
    "종가":[1340,1315],
    "거래량":[1000,2000] 
})

price.head()

           날짜     티커    종가   거래량
0  2021-01-02  00001  1340  1000
1  2021-01-03  00001  1315  2000

In [13]:
engine = create_engine('mysql+pymysql://root:ahfmrpTek684#@127.0.0.1:3306/exam')
price.to_sql('price',con=engine, if_exists='append',index = False)
data_sql = pd.read_sql('price',con=engine)
price.head

<bound method NDFrame.head of            날짜     티커    종가   거래량
0  2021-01-02  00001  1340  1000
1  2021-01-03  00001  1315  2000>

In [14]:
price = pd.DataFrame({
    "날짜" : ['2021-01-04', '2021-01-04'],
    "티커" : ['000001','000002'],
    "종가":[1320, 1315],
    "거래량":[2100,1500] })

args = price.values.tolist()
args

[['2021-01-04', '000001', 1320, 2100], ['2021-01-04', '000002', 1315, 1500]]

In [15]:
con = pymysql.connect(user='root',
                      passwd='ahfmrpTek684#',
                      host='127.0.0.1',
                      db='exam',
                      charset='utf8')

query = """
    insert into price_2 (날짜, 티커, 종가, 거래량)
    values (%s,%s,%s,%s) as new
    on duplicate key update
    종가 = new.종가, 거래량 = new.거래량;
"""

mycursor = con.cursor()
mycursor.executemany(query, args)
con.commit()

con.close()

exam 데이터베이스에 접속한다.
upsert 기능을 구현하는 쿼리를 입력하며, values 부분에는 입력하는 데이터의 열 갯수만큼 '%s'를 입력한다.
cursor() 메서드를 통해 데이터베이스의 커서 객체를 가져온다.
execute() 메서드를 사용하여 SQL 쿼리를 데이터베이스 서버에 보낸다. 즉 %s 부분에 리스트로 만든 데이터가 입력되어 데이터베이스 서버에 전송된다.
commit() 메서드를 사용하여 데이터의 확정을 갱신한다.
접속을 종료한다.
실제로 데이터를 확인해보면 1월 4일 000001 종목의 데이터는 수정이 되었으며, 000002 종목의 데이터는 새로 입력되었다.

In [16]:
con = pymysql.connect(user='root',
                      passwd='1#',
                      host='127.0.0.1',
                      db='exam',
                      charset='utf8')

query = """
    drop database exam;
"""

mycursor = con.cursor()
mycursor.execute(query)
con.commit()

con.close()